@import 'theme.scss';
@import 'utilities';
@import 'material-overrides';
@import 'variables';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100%;
  display: flex;
}

.header {
  padding-bottom: 10px;
  border-bottom: 2px solid #673ab7;
}

.nav-link {
  display: flex !important;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
